{% extends "layout.html" %}
{% block content %}

        <div class="container">
            <div class="row">
                <h3>What's this about?</h3>
            </div>
            <div class="row">
                <p>I deal with statistical problems in my everyday life:</p>
                <ul>
                    <li>My work involves statistical questions like "any idea what a negative binomial with mean 0.8 and standard deviation 1.7 looks like?"</li>
                    <li>I always forget how to parameterize different distributions in different settings:</li>
                    <ul>
                        <li>How exactly do you parameterize the negative binomial again?</li>
                        <li>Are we doing the gamma as shape and scale? Or shape and rate?</li>
                        <li>Does the exponential use lambda? Or its inverse?</li>
                        <li>Well, are you in Python? R? Excel? Something else? I always get them mixed up...</li>
                    </ul>
                    <li>I get into debates with strangers on the train about Bayesian priors, and it would be handy to display distributions on a mobile device.</li>
                </ul>
                <p>I've also got a quarantine goal of learning web development. I'm a Python guy and have a decent background in analytics, but I'd like to grow my skills.</p>
                <p>This site is a work in progress. More to come.</p>
            </div>
        </div>

{% endblock content %}