{% extends "layout.html" %}
{% block content %}

        <div class="container">
        
            <div class="row">
                <div class="col">
                    <p id="intro" class="text-center">Plot a statistical distribution in terms of mean and variance, and get formulas to recreate the distribution</p>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-4">
                    <form>
                        <div class="form-group">
                            <label for="distField">Choose a distribution</label>
                            <select id="distField" class="form-control">
                                <option value="exponential">Exponential</option>
                                <!-- <option value="gamma">Gamma</option> -->
                                <option value="normal" selected>Normal</option>
                                <option value="poisson">Poisson</option>
                            </select>
                            <small id="distHint"></small>
                        </div>
                        
                        <div class="form-group">
                            <label for="meanField">Mean (&mu;)</label>
                            <input id="meanField" type="text" class="form-control" value="0">
                            <div id="meanFeedback" class="invalid-feedback"></div>
                        </div>
                        
                        <div class="form-group">
                            
                            <div class="form-check">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="useSD" name="whichSigma" checked>
                                    <label class="custom-control-label" for="useSD">Standard deviation (&sigma;)</label>
                                    <input id="sdField" type="text" class="form-control" value="1">
                                    <div id="sdFeedback" class="invalid-feedback"></div>
                                </div>
                                
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="useVar" name="whichSigma">
                                    <label class="custom-control-label" for="useVar">Variance (&sigma;<sup>2</sup>)</label>
                                    <input id="varField" type="text" class="form-control" value="1" disabled>
                                    <div id="varFeedback" class="invalid-feedback"></div>
                                </div>
                            </div>

                            <!-- <input type="radio" id="useSD" name="whichSigma" value="SD" checked>
                            <label for="sdField">Standard deviation</label>
                            <input id="sdField" type="text" class="form-control" value="1">
                            <div id="sdFeedback" class="invalid-feedback"></div>

                            <input type="radio" id="useVar" name="whichSigma" value="Var">
                            <label for="varField">Variance</label>
                            <input id="varField" type="text" class="form-control" value="1" disabled>
                            <div id="varFeedback" class="invalid-feedback"></div> -->
                        </div>

                        <div class="form-group">
                            <div class="form-check-inline">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="plotPDF" name="whichPlot" checked>
                                    <label class="custom-control-label" for="plotPDF">Plot PDF/PMF</label>
                                </div>
                                
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="plotCDF" name="whichPlot">
                                    <label class="custom-control-label" for="plotCDF">Plot CDF</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-outline-secondary" id="update" type="button" onclick="submit_params();">Update</button>
                        </div>
                    </form>
                </div>
            
                <div class="col-md-8">
                    <canvas id="chart"></canvas>
                </div>
            </div>

            <div class="row">
                <div class="btn-group" id="formulaButtons" hidden>
                    <button class="btn btn-outline-secondary" id="pyButton" type="button">Python</button>
                    <button class="btn btn-outline-secondary" id="rButton" type="button">R</button>
                    <button class="btn btn-outline-secondary" id="jsButton" type="button">JavaScript</button>
                    <button class="btn btn-outline-secondary" id="xlButton" type="button">Excel</button>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered" id="formulaTable" hidden>
                    <thead class="thead-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" id="syntax"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th id="pdfpmf" scope="row">PDF (evaluated at x)</th>
                            <td id="pdfFormula"></td>
                        </tr>
                        <tr>
                            <th scope="row">CDF (evaluated at x)</th>
                            <td id="cdfFormula"></td>
                        </tr>
                        <tr>
                            <th scope="row">Percentile/quantile (evaluated at p or q)</th>
                            <td id="pctFormula"></td>
                        </tr>
                        <tr>
                            <th scope="row" id="rvDescription">Draw N random variables</th>
                            <td id="rvFormula"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

{% endblock content %}

{% block script %}
<script>

    function submit_params() {
        var dist = document.getElementById('distField');
        var mean = document.getElementById('meanField');
        var sd = document.getElementById('sdField');
        var params = {
            dist: dist.value,
            mean: mean.value,
            sd: sd.value
        }

        fetch('/dist/update-plot', {
            method: 'POST',
            body: JSON.stringify(params),
            headers: new Headers({
                'content-type': 'application/json'
            })
        }).then(function (response) {
            if (response.status !== 200) {
                console.log(`Response status was not 200 ${response.status}`);
                return;
            }
            
            response.json().then(function (data) {
                console.log('Python is sending as a response: ')
                console.log(data);
            })
        })
    }

</script>
{% endblock %}