{% extends "layout.html" %}
{% block content %}

        <div class="container">
            <div class="row">
                <h3>What's this about?</h3>
            </div>
            <div class="row">
                <p>I deal with statistical problems in my everyday life:</p>
                <ul>
                    <li>My work involves statistical questions like "any idea what a negative binomial with mean 0.8 and standard deviation 1.7 looks like?"</li>
                    <li>I've found it surprisingly difficult to plot a distribution if you know its mean and variance but not its parameters</li>
                    <li>Speaking of parameters, I always forget how to parameterize different distributions in different settings:</li>
                    <ul>
                        <li>How exactly do you parameterize the negative binomial again?</li>
                        <li>Are we doing the gamma as shape and scale? Or shape and rate?</li>
                        <li>Is the exponential parameter the mean? Or its inverse?</li>
                        <li>Well, are using Python? R? Excel? Something else?</li>
                        <li>Python, eh? Hm, sometimes I get confused converting to Scipy's parameterization...</li>
                    </ul>
                    <li>I get into debates with strangers on the train about Bayesian priors, and it would be handy to display distributions on a mobile device.</li>
                </ul>
                <p>Thanks to the economic implications of COVID-19, I've had some additional free time and have started learning web development in order to build this site. I'm mostly a Python and analytics guy, so this has been a fun challenge.</p>
                <p>This site is a work in progress. More to come:</p>
                <ul>
                    <li>More distributions and formulas</li>
                    <li>Copy formula to clipboard</li>
                    <li>Calculate probability between two values</li>
                </ul>
            </div>
        </div>

{% endblock content %}